@import './config';
@import './rpg-resources';
@import './layouts';
@import './components';

html, body, #app {
  min-width: 1280px;
  min-height: 698px;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: $black;
  color: $white;
  font-family: $dialog-font;
}